In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
csv_path = "Output/covid_dataframe.csv"

In [3]:
# Read our Data file with the pandas library
raw_data_df = pd.read_csv(csv_path, encoding="utf-8")

# Show just the header
raw_data_df.head()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond
0,2020-03-03T00:00:00.000,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
1,2020-03-03T00:00:00.000,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
2,2020-04-07T00:00:00.000,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing
3,2020-08-04T00:00:00.000,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020-07-28T00:00:00.000,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing

In [4]:
len(raw_data_df)

3662325

In [5]:
# Use Map to format all the columns
raw_data_df["report_date"] = pd.to_datetime(raw_data_df["report_date"])
raw_data_df.head()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond
0,2020-03-03,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
1,2020-03-03,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
2,2020-04-07,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing
3,2020-08-04,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020-07-28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing

In [6]:
raw_data_df.dtypes

report_date       datetime64[ns]
status                    object
gender                    object
age_group                 object
race_ethnicity            object
hospital                  object
icu                       object
death                     object
med_cond                  object
dtype: object

In [7]:
raw_data_df["race_ethnicity"].value_counts()

Unknown                                                 1604109
White, Non-Hispanic                                      826556
Hispanic/Latino                                          622825
Black, Non-Hispanic                                      412907
Multiple/Other, Non-Hispanic                              92105
Asian, Non-Hispanic                                       68917
American Indian/Alaska Native, Non-Hispanic               27041
Native Hawaiian/Other Pacific Islander, Non-Hispanic       7859
Name: race_ethnicity, dtype: int64

In [8]:
raw_data_df["death"].value_counts()

No         1644402
Missing    1231997
Unknown     660056
Yes         125870
Name: death, dtype: int64

In [9]:
# Create new column for gender, age group and race values
covid_data_df = raw_data_df

covid_data_df["Male"]=""
covid_data_df["Female"]=""
covid_data_df["Unknown Gender"]=""
covid_data_df["0 - 9 Years"]=""
covid_data_df["10 - 19 Years"]=""
covid_data_df["20 - 29 Years"]=""
covid_data_df["30 - 39 Years"]=""
covid_data_df["40 - 49 Years"]=""
covid_data_df["50 - 59 Years"]=""
covid_data_df["60 - 69 Years"]=""
covid_data_df["70 - 79 Years"]=""
covid_data_df["80+ Years"]=""
covid_data_df["Unknown Age Group"]=""
covid_data_df["American Indian/Alaska Native"]=""
covid_data_df["Asian"]=""
covid_data_df["Black"]=""
covid_data_df["Hispanic/Latino"]=""
covid_data_df["Multiple/Other"]=""
covid_data_df["Native Hawaiian/Other Pacific Islander"]=""
covid_data_df["White"]=""
covid_data_df["Unknown Race"]=""
covid_data_df["Death-Yes"]=""
covid_data_df["Death-No"]=""
covid_data_df["Death-Unknown"]=""

covid_data_df.head()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond,Male,...,Asian,Black,Hispanic/Latino,Multiple/Other,Native Hawaiian/Other Pacific Islander,White,Unknown Race,Death-Yes,Death-No,Death-Unknown
0,2020-03-03,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,,...,,,,,,,,,,
1,2020-03-03,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,,...,,,,,,,,,,
2,2020-04-07,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing,,...,,,,,,,,,,
3,2020-08-04,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,,...,,,,,,,,,,
4,2020-07-28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing,,...,,,,,,,,,,

In [10]:
# Populate new columns with counts
covid_data_df.loc[covid_data_df["gender"] == 'Male', 'Male'] = 1
covid_data_df.loc[covid_data_df["gender"] == 'Female', 'Female'] = 1
covid_data_df.loc[covid_data_df["gender"] == 'Unknown', 'Unknown Gender'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '0 - 9 Years', '0 - 9 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '10 - 19 Years', '10 - 19 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '20 - 29 Years', '20 - 29 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '30 - 39 Years', '30 - 39 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '40 - 49 Years', '40 - 49 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '50 - 59 Years', '50 - 59 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '60 - 69 Years', '60 - 69 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '70 - 79 Years', '70 - 79 Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== '80+ Years', '80+ Years'] = 1
covid_data_df.loc[covid_data_df["age_group"]== 'Unknown', 'Unknown Age Group'] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "American Indian/Alaska Native, Non-Hispanic", "American Indian/Alaska Native"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Asian, Non-Hispanic", "Asian"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Black, Non-Hispanic", "Black"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Hispanic/Latino", "Hispanic/Latino"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Multiple/Other, Non-Hispanic", "Multiple/Other"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Native Hawaiian/Other Pacific Islander, Non-Hispanic", "Native Hawaiian/Other Pacific Islander"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "White, Non-Hispanic", "White"] = 1
covid_data_df.loc[covid_data_df["race_ethnicity"]== "Unknown", "Unknown Race"] = 1
covid_data_df.loc[covid_data_df["death"]== "Yes","Death-Yes"]=1
covid_data_df.loc[covid_data_df["death"]== "No","Death-No"]=1
covid_data_df.loc[covid_data_df["death"]== "Unknown", "Death-Unknown"]=1
covid_data_df.loc[covid_data_df["death"]== "Missing", "Death-Unknown"]=1
covid_data_df.head()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond,Male,...,Asian,Black,Hispanic/Latino,Multiple/Other,Native Hawaiian/Other Pacific Islander,White,Unknown Race,Death-Yes,Death-No,Death-Unknown
0,2020-03-03,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,1,...,,,,,,,1,,,1
1,2020-03-03,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,,...,,,,,,,1,,,1
2,2020-04-07,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing,,...,,,,,,,1,,,1
3,2020-08-04,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,1,...,,,,,,,1,,,1
4,2020-07-28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing,1,...,,,,,,,1,,1,

In [11]:
# Convert columns to int
covid_data_df["Male"]=pd.to_numeric(covid_data_df["Male"])
covid_data_df["Female"]=pd.to_numeric(covid_data_df["Female"])
covid_data_df["Unknown Gender"]=pd.to_numeric(covid_data_df["Unknown Gender"])
covid_data_df["0 - 9 Years"]=pd.to_numeric(covid_data_df["0 - 9 Years"])
covid_data_df["10 - 19 Years"]=pd.to_numeric(covid_data_df["10 - 19 Years"])
covid_data_df["20 - 29 Years"]=pd.to_numeric(covid_data_df["20 - 29 Years"])
covid_data_df["30 - 39 Years"]=pd.to_numeric(covid_data_df["30 - 39 Years"])
covid_data_df["40 - 49 Years"]=pd.to_numeric(covid_data_df["40 - 49 Years"])
covid_data_df["50 - 59 Years"]=pd.to_numeric(covid_data_df["50 - 59 Years"])
covid_data_df["60 - 69 Years"]=pd.to_numeric(covid_data_df["60 - 69 Years"])
covid_data_df["70 - 79 Years"]=pd.to_numeric(covid_data_df["70 - 79 Years"])
covid_data_df["80+ Years"]=pd.to_numeric(covid_data_df["80+ Years"])
covid_data_df["Unknown Age Group"]=pd.to_numeric(covid_data_df["Unknown Age Group"])
covid_data_df["American Indian/Alaska Native"]=pd.to_numeric(covid_data_df["American Indian/Alaska Native"])
covid_data_df["Asian"]=pd.to_numeric(covid_data_df["Asian"])
covid_data_df["Black"]=pd.to_numeric(covid_data_df["Black"])
covid_data_df["Hispanic/Latino"]=pd.to_numeric(covid_data_df["Hispanic/Latino"])
covid_data_df["Multiple/Other"]=pd.to_numeric(covid_data_df["Multiple/Other"])
covid_data_df["Native Hawaiian/Other Pacific Islander"]=pd.to_numeric(covid_data_df["Native Hawaiian/Other Pacific Islander"])
covid_data_df["White"]=pd.to_numeric(covid_data_df["White"])
covid_data_df["Unknown Race"]=pd.to_numeric(covid_data_df["Unknown Race"])
covid_data_df["Death-Yes"]=pd.to_numeric(covid_data_df["Death-Yes"])
covid_data_df["Death-No"]=pd.to_numeric(covid_data_df["Death-No"])
covid_data_df["Death-Unknown"]=pd.to_numeric(covid_data_df["Death-Unknown"])

In [12]:
print(covid_data_df["report_date"].min())
print(covid_data_df["report_date"].max())

2020-01-01 00:00:00
2020-08-16 00:00:00

In [13]:
# Create the bins in which data will be grouped
# Create the labels for the bins
bins= pd.date_range('2019-12-29', freq='7D', periods=34)
group_names= ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15",
               "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28",
               "29",  "30", "31", "32", "33"]  

covid_data_df["week"] = pd.cut(covid_data_df["report_date"], bins, labels=group_names)
covid_data_df

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond,Male,...,Black,Hispanic/Latino,Multiple/Other,Native Hawaiian/Other Pacific Islander,White,Unknown Race,Death-Yes,Death-No,Death-Unknown,week
0,2020-03-03,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,10
1,2020-03-03,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,10
2,2020-04-07,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,15
3,2020-08-04,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,32
4,2020-07-28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662320,2020-05-26,Probable Case,Other,30 - 39 Years,Unknown,No,Unknown,No,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,22
3662321,2020-05-26,Probable Case,Other,30 - 39 Years,Unknown,Unknown,Unknown,No,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,22
3662322,2020-05-26,Laboratory-confirmed case,Other,30 - 39 Years,Unknown,No,Unknown,No,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,22
3662323,2020-05-26,Probable Case,Other,30 - 39 Years,Unknown,No,Unknown,No,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,22
3662324,2020-05-26,Probable Case,Other,30 - 39 Years,Unknown,No,Unknown,No,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,22

In [14]:
grouped_covid_df = covid_data_df.groupby(["week"])
grouped_covid_df.count()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond,Male,...,Asian,Black,Hispanic/Latino,Multiple/Other,Native Hawaiian/Other Pacific Islander,White,Unknown Race,Death-Yes,Death-No,Death-Unknown
week,,,,,,,,,,,,,,,,,,,,,
1,21,21,21,21,21,21,21,21,21,10,...,1,1,0,2,0,12,5,0,18,3
2,9,9,9,9,9,9,9,9,9,5,...,0,0,0,0,0,4,5,0,6,3
3,29,29,29,29,29,29,29,29,29,19,...,3,4,1,2,0,11,8,0,23,6
4,33,33,33,33,33,33,33,33,33,15,...,5,4,1,2,0,9,11,0,28,5
5,70,70,70,70,70,70,70,70,70,34,...,8,8,2,7,0,17,28,1,53,16
6,55,55,55,55,55,55,55,55,55,23,...,3,6,2,2,0,30,12,4,41,10
7,100,100,100,100,100,100,100,100,100,45,...,7,12,6,6,0,37,32,9,71,20
8,211,211,211,211,211,211,211,211,211,102,...,12,18,8,10,0,50,112,16,155,40
9,719,719,719,719,719,719,719,719,719,352,...,61,81,32,31,2,213,296,42,520,157
10,2140,2140,2140,2140,2140,2140,2140,2140,2140,1087,...,105,236,108,81,10,609,988,107,1523,510
11,12209,12209,12209,12209,12209,12209,12209,12209,12209,6311,...,406,1336,629,389,34,3367,6036,542,7616,4051
12,38118,38118,38117,38116,38117,38118,38118,38118,38118,19675,...,1025,3984,2465,1247,75,8587,20704,1736,16541,19841
13,80038,80038,80038,80037,80038,80038,80038,80038,80038,41321,...,2077,8772,8902,2726,106,16006,41308,5729,22901,51408
14,113887,113887,113887,113886,113887,113887,113887,113887,113887,56532,...,3031,12743,12754,4321,124,23605,57002,8014,32244,73629
15,122412,122412,122411,122411,122411,122412,122412,122412,122412,58871,...,3040,14857,15159,3711,128,25451,59650,9857,36960,75595
16,142401,142401,142400,142400,142401,142401,142401,142401,142401,66780,...,3356,14921,18904,4539,131,26838,73308,13169,48111,81121
17,126274,126274,126273,126271,126274,126274,126274,126274,126274,59121,...,2592,15570,19073,3911,157,26843,57532,8519,49432,68323
18,127779,127779,127779,127777,127779,127779,127779,127779,127779,61119,...,2838,15087,19933,3667,172,25365,59604,7542,48116,72121
19,118985,118985,118985,118984,118985,118985,118985,118985,118985,56516,...,2836,13219,20748,3115,219,23379,53488,5285,50333,63367
20,135516,135516,135516,135510,135516,135516,135516,135516,135516,64508,...,2856,19704,24045,3826,260,28308,54999,4692,56131,74693
21,116657,116657,116657,116655,116657,116657,116657,116657,116657,54478,...,2506,13499,22919,2750,249,21825,51424,3537,50627,62493
22,241801,241801,241801,241791,241801,241801,241801,241801,241801,117126,...,5983,25437,50057,4419,439,46404,107522,14784,174864,52153
23,104445,104445,104444,104441,104444,104445,104445,104445,104445,49780,...,2600,11312,25420,2576,482,19808,40903,3154,59078,42213
24,144042,144042,144040,144034,144041,144042,144042,144042,144042,67804,...,3220,16426,32117,2609,466,28888,58784,4433,86376,53233
25,172216,172216,172215,172212,172216,172216,172216,172216,172216,80121,...,3123,16952,37292,2551,722,39860,70323,5502,91940,74774
26,282772,282772,282769,282764,282772,282772,282772,282772,282772,131946,...,5857,33819,71296,5962,871,54585,108672,10199,81917,190656
27,198586,198586,198586,198586,198586,198586,198586,198586,198586,91307,...,2929,20309,34746,4179,447,45539,89083,2718,103433,92435
28,210792,210792,210792,210788,210792,210792,210792,210792,210792,95433,...,2502,21297,28137,4750,541,47585,104449,2818,97786,110188
29,298370,298370,298368,298361,298370,298370,298370,298370,298370,135864,...,3819,34285,48521,6843,578,74315,128030,3601,135625,159144
30,225454,225454,225453,225448,225453,225454,225454,225454,225454,101431,...,2811,24686,31896,5989,439,60142,97577,2920,99527,123007
31,231691,231691,231691,231684,231691,231691,231691,231691,231691,104955,...,3003,29645,34090,6340,308,60135,96367,3090,104253,124348
32,204571,204571,204567,204562,204570,204571,204571,204571,204571,92236,...,3018,21638,28637,5858,518,60810,82721,2034,94572,107965
33,209922,209922,209922,209917,209922,209922,209922,209922,209922,98664,...,3284,23039,34925,5684,381,57919,83126,1816,93581,114525

In [15]:
covid_week_df=grouped_covid_df.count()
covid_week_df.head()

,report_date,status,gender,age_group,race_ethnicity,hospital,icu,death,med_cond,Male,...,Asian,Black,Hispanic/Latino,Multiple/Other,Native Hawaiian/Other Pacific Islander,White,Unknown Race,Death-Yes,Death-No,Death-Unknown
week,,,,,,,,,,,,,,,,,,,,,
1,21,21,21,21,21,21,21,21,21,10,...,1,1,0,2,0,12,5,0,18,3
2,9,9,9,9,9,9,9,9,9,5,...,0,0,0,0,0,4,5,0,6,3
3,29,29,29,29,29,29,29,29,29,19,...,3,4,1,2,0,11,8,0,23,6
4,33,33,33,33,33,33,33,33,33,15,...,5,4,1,2,0,9,11,0,28,5
5,70,70,70,70,70,70,70,70,70,34,...,8,8,2,7,0,17,28,1,53,16

In [16]:
# Export file as a CSV, without the Pandas index, but with the header
covid_week_df.to_csv("Output/covid_week.csv", index=True, header=True)